* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background1.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
}

#active-btn {
    color: rgb(0, 255, 255);
     text-shadow: 
    0 0 5px rgb(0, 255, 255),
    0 0 10px rgb(0, 255, 255),
    0 0 20px rgb(0, 255, 255),
    0 0 40px rgb(0, 255, 255);
}

.container > div {
    font-size: 30px;

}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.Title {
    grid-column: 1 / 11;
    grid-row: 1/1;
    padding: 5vh 0 5vh 0;
    text-align: center;
}

.Title h2{
    font-size: 7vh;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.text-sec {
    grid-column: 1 / 11;
    grid-row: 2/2;
    padding-top: 40vh;
    text-align: center;
}

h1 {
    text-align: center;
}

.text-sec ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text-sec li {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
}

.text-sec a {
    text-decoration: none;
    list-style: none;
    color: black;

}

.text-sec a:hover {
    color: rgb(81, 255, 0);

}

.image {
    grid-column: 1/ 11;
    grid-row: 2/2;
    padding-top: 6vh;
    text-align: center;
}

.image img {
    width: 10%;
    height: auto;
    border-radius: 50% / 35%; 
    object-fit: cover;        
    border: 5px solid black;  
}

.Buttons {
    grid-column: 7/11;
    grid-row: 3/3;
    padding: 23vh 2vh 0 0;
}

.Buttons ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 5vh;

}

.Buttons li {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;

}

.Buttons a {
    color: #E9A840;
    text-decoration: none;
}

.Buttons a:hover {
    color: #13dfa2;
}

.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 28px;
  background-color: #997935;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1100;
}


@media screen and (max-width: 1700px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 5vh;
        }

        .text-sec {
            grid-column: 1 /11;
            grid-row: 2 / 2;
            padding-top: 7vh;
        }

        .text-sec h1{
            padding-top: 35vh;
            font-size: 4vw;
        }

        .text-sec li {
            font-size: 4.2vw;s
        }   

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        .image img {
            width: 15vw;
            height: 20vw;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            padding: 18vh 5vh 0vh 0vh;

            li {
                font-size: 5.3vw;
            }

            
            }
            
    
}

@media screen and (max-width: 1400px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 4.6vh;
        }

        .text-sec {
            grid-column: 1 /11;
            grid-row: 2 / 2;
            padding-top: 7vh;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 3.8vw;
        }   

        .text-sec h1{
            font-size: 3.7vw;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        .image img {
            width: 15%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 18vh 5vh 0vh 0vh;

            li {
                font-size: 4.9vh;
            }

            
            }
            
    
}

@media screen and (max-width: 1000px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 3.7vh;
        }

        .text-sec {
            grid-column: 1 /11;
            grid-row: 2 / 2;
            padding-top: 7vh;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 3.4vw;
        }   

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 3vh;
        }

        .image img {
            width: 25%;
            height: 30vw;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 15vh 5vh 0vh 0vh;

            li {
                font-size: 4vh;
            }

            
            }
            
    
}

@media screen and (max-width: 800px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            text-align: center;
        }

        .Title h2 {
            font-size: 3.2vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            padding-top: 0vh;
            text-align: center;
            padding: 0vw;
        }

        .text-sec li {
            font-size: 3vw;
        }   

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding: 5vh;
        }

        .image img {
            width: 25%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding-top: 5vh;
            
        }
            
    
}

@media screen and (max-width: 600px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 2.8vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            text-align: center;
            padding: 0vh;
        }

        .text-sec li {
            font-size: 3vw;
        }   
        
        .text-sec h1 {
            padding: 0;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding: 5vh;
        }

        .image img {
            width: 25%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.7vh;
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            background-color: rgba(211, 211, 211, 0.589);
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            display: none;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            z-index: 999;
        }

        .menu-toggle {
            display: block;
            padding: 4.6vh;
            background: none;
            border: none;
            color: rgb(0, 0, 0);
            cursor: pointer;
            z-index: 1000;
        }

        .Buttons.show {
            display: flex ;
        }

        .Buttons a {
            width: 80%;
            justify-content: center;
            background-color: #8b7e32;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 2vh;
        }

        .Buttons a:hover {
            background-color: #fbff08;
        }
    } 

@media screen and (max-width: 400px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 2vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            text-align: center;
            padding: 0vh;
        }

        .text-sec h1 {
            padding: 0;
        }

        .text-sec li {
            font-size: 4vw;
        }   

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 0vh;
        }

        .image img {
            width: 45%;
            height: 50vw;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.7vh;
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            background-color: rgba(211, 211, 211, 0.589);
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            display: none;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            z-index: 999;
        }

        .menu-toggle {
            display: block;
            padding: 4.6vh;
            font-size: 20px;
            background: none;
            border: none;
            color: rgb(0, 0, 0);
            cursor: pointer;
            z-index: 1000;
        }

        .Buttons.show {
            display: flex ;
        }

        .Buttons a {
            width: 80%;
            justify-content: center;
            background-color: #8b7e32;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1vh;
        }

        .Buttons a:hover {
            background-color: #fbff08;
        }
    }

@media screen and (max-width: 300px) {

        .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 1.7vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            text-align: center;
        }

        .text-sec li {
            font-size: 1.5vh;
        }   

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 3vh;
        }

        .image img {
            width: 50%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.7vh;
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            background-color: rgba(211, 211, 211, 0.589);
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            display: none;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            z-index: 999;
        }

        .menu-toggle {
            display: block;
            padding: 5vh 4.6vh 4.6vh 4.6vh;
            font-size: 15px;
            background: none;
            border: none;
            color: rgb(0, 0, 0);
            cursor: pointer;
            z-index: 1000;
        }

        .Buttons.show {
            display: flex ;
        }

        .Buttons a {
            width: 80%;
            justify-content: center;
            background-color: #8b7e32;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1vh;
        }

        .Buttons a:hover {
            background-color: #fbff08;
        }
    }     
       