* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background1.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
}

.container > div {
    font-size: 30px;

}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.Title {
    grid-column: 2 / 11;
    grid-row: 1/1;
    padding: 5vh 0 5vh 0;
}

.Title h2{
    font-size: 7vh;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.text-sec {
    grid-column: 1 / 6;
    grid-row: 2/2;
    padding-top: 7vh;
}

.text-sec ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text-sec li {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.8vh;

}

.text-sec li:nth-child(2) {
    padding-top: 5vh;
    color: #2731DE;
}


.image {
    grid-column: 9/ 10;
    grid-row: 2/2;
    padding-top: 6vh;
}

.image img {
    width: 160%;
    height: auto;
    border-radius: 50% / 35%; 
    object-fit: cover;        
    border: 5px solid black;  
}

.Buttons {
    grid-column: 7/11;
    grid-row: 3/3;
    padding: 23vh 2vh 0 0;
}

.Buttons ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 5vh;

}

.Buttons li {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;

}

.Buttons a {
    color: #E9A840;
    text-decoration: none;
}

.jacques-francois-shadow-regular {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.menu-bar {
  display: none !important;
}


@media screen and (max-width: 1660px) {

    .Title {
            grid-column: 2 / 10;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 5vh;
        }

        .text-sec {
            grid-column: 1 /7;
            grid-row: 2 / 2;
            padding-top: 7vh;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 4.2vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 7 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        .image img {
            width: 50%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 18vh 5vh 0vh 0vh;

            li {
                font-size: 5.3vh;
            }

            
            }
            
    
}

@media screen and (max-width: 1400px) {

    .Title {
            grid-column: 2 / 10;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 4.6vh;
        }

        .text-sec {
            grid-column: 1 /7;
            grid-row: 2 / 2;
            padding-top: 7vh;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 3.8vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 7 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        .image img {
            width: 50%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 18vh 5vh 0vh 0vh;

            li {
                font-size: 4.9vh;
            }

            
            }
            
    
}

@media screen and (max-width: 1000px) {

    .Title {
            grid-column: 2 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 3.7vh;
        }

        .text-sec {
            grid-column: 1 /8;
            grid-row: 2 / 2;
            padding-top: 7vh;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 3vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 7 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 3vh;
        }

        .image img {
            width: 45%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 15vh 5vh 0vh 0vh;

            li {
                font-size: 4vh;
            }

            
            }
            
    
}

@media screen and (max-width: 800px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            text-align: center;
        }

        .Title h2 {
            font-size: 3.2vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            padding-top: 7vh;
            text-align: center;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 2.5vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 0vh;
        }

        .image img {
            width: 45%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 4 / 4;
            padding: 5vh 5vh 0vh 0vh;
            
            }
            
    
}

@media screen and (max-width: 600px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 2.8vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            padding-top: 7vh;
            text-align: center;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 2vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 0vh;
        }

        .image img {
            width: 50%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.7vh;

            ul {
            display: none;

            }
            .menu-bar {      
            float: right;
            display: block !important;
            font-size: 2.5vh;
        
            }
        }       
       
}

@media screen and (max-width: 400px) {

    .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 2vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            padding-top: 7vh;
            text-align: center;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 1.6vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 0vh;
        }

        .image img {
            width: 45%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.6vh;
            padding-left: 20vh;

            ul {
            display: none;

            }
            .menu-bar {      
            float: right;
            display: block !important;
            font-size: 1.5vh;

        
            }
        }       
       
}

@media screen and (max-width: 300px) {

        .Title {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
        }

        .Title h2 {
            font-size: 1.7vh;
        }

        .text-sec {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
            padding-top: 7vh;
            text-align: center;
            padding-top: 2vh;
        }

        .text-sec li {
            font-size: 1.5vh;
        }   

        .text-sec li:nth-child(2) {
            padding-top: 2vh;
        }

        .image {
            grid-column: 1 / 11;
            grid-row: 2 / 2;
            display: flex;
            justify-content: center;
            padding-top: 0vh;
        }

        .image img {
            width: 40%;
            border-radius: 50% / 35%;
            object-fit: cover;
        }

        .Buttons {
            grid-column: 1 / 11;
            grid-row: 1 / 1;
            padding-top: 5.6vh;
            

            ul {
            display: none;

            }
            .menu-bar {      
            float: right;
            display: block !important;
            font-size: 1vh;
        
            }
        }       
       
}
       